* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #B1BBF8;
}

header {
    height: 70px;
    background-color: #FFF;
    line-height: 70px;
    padding-left: 15px;
}

#logo-img {
    height: 50px;
    vertical-align: middle;
}

#logo-txt {
    display: inline-block;
    height: 70px;
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

.task {
    background-color: #FFF;
    margin-left: 15%;
    margin-right: 15%;
}

.task-bar {
    margin-top: 30px;
    padding: 15px 60px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    padding: 5px;
    border-radius: 5px;
}

#button1 {
    color: #FFF;
    border-color: #47ADF1;
    background-color: #47ADF1;
}

#button2 {
    color: #C5CBD0;
    border-color: #C5CBD0;
}

.task-list {
    padding: 30px 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task-special {
    padding-top: 30px;
}

h2::before {
    content: '\23F7';
}

.check-yes::before {
    content: '\2713';
}

.check-no::before {
    content: '\2717';
}

.check-yes, .check-no {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.check-yes {
    color: #64C0A9;
    border: 1.5px solid #64C0A9;
}

.check-no {
    color: #EB5851;
    border: 1.5px solid #EB5851;
}

.container {
    padding-top: 10px;
}

.label {
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    border-radius: 10px;
    padding: 7.5px;
}

.color1 {
    background-color: #47ADF1;
}

.color2 {
    background-color: #9C72E4;
}

.color3 {
    background-color: #64C0A9;
}

.color4 {
    background-color: #F29E33;
}

.color5 {
    background-color: #D863A1;
}

.color6 {
    background-color: #B0C926;
}